{% extends "moderate/base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Add private note to the author</h2>
        {% if user.is_authenticated %}
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-secondary">Add</button>
            </form>
        </div>

        {% else %}
        <p>You must be logged in to add a note</p>
        {% endif %}
    </div>
</div>
{% endblock content %}