{% extends "moderate/base.html" %}
{% block page_header %} 
    {% if not page_obj.has_previous %}
        <div class="jumbotron bg-light mb-4 rounded shadow-sm">
            <div class="container p-5 text-center ">
                <h1 class="display-3"><span class="fw-bold"> Moderate.</span> - a Medium clone</h1>
                <p class="lead">Optimo Development recruitment assignment</p>
            </div>
        </div>
    {% endif %}
{% endblock page_header %}  

{% block content %}
    <div>
        {% for article in articles %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body pe-5">
                        <a href="{% url 'moderate:article' article.id %}" class="text-body text-decoration-none">
                            <h2 class="card-title">{{ article.title }}</h4>
                            <p class="card-text mb-3">{{ article.text|truncatewords:60 }}</p>
                        </a>
                        <div style="display:flex">
                            <span class="small">{{ article.date|date:"j F Y" }}</span>
                            {% for tag in article.tags.all %}
                                <a href="{% url 'moderate:tag' tag.id %}" class="ms-2 badge rounded-pill bg-secondary">#{{ tag }} </a>
                            {% endfor %}
                        </div>
                        <p class="small mt-2 mb-1">author: <strong>{{ article.author }}</strong></p>
                    </div>
                </div>
        {% endfor %}
    </div>
    {% include 'moderate\paginate.html' %}
{% endblock content %}