{% extends "moderate/base.html" %}
{% block page_header %} 
    {% if not page_obj.has_previous %}
        <div class="jumbotron bg-light">
            <div class="container p-5">
                <h1 class="display-3">Moderate - a Medium clone</h1>
                <p class="lead">Optimo Development recruitment assignment</p>
            </div>
        </div>
    {% endif %}
{% endblock page_header %}  

{% block content %}
    <div>

        <ul>
            {% for article in articles %}
                    <li class="mt-3">
                        <a href="{% url 'moderate:article' article.id %}">
                            <h2 class="display-8">{{ article.title }}</h4>
                            <p>{{ article.text|truncatewords:60 }}</p>
                        </a>
                        <div style="display:flex">
                            <span class="small">{{ article.date|date:"j F Y" }}</span>
                            {% for tag in article.tags.all %}
                                <a href="{% url 'moderate:tag' tag.id %}" class="mx-1 badge rounded-pill bg-secondary">#{{ tag }} </a>
                            {% endfor %}
                        </div>
                        <p>author: {{ article.author }}</p>
                    </li>
            {% endfor %}
        </ul>
    </div>
    {% include 'moderate\paginate.html' %}
{% endblock content %}