{% extends "moderate/base.html" %}

{% block page_header %} 
    <div class="mb-3">

        <span>Tag:</span> <a href="{% url 'moderate:tag' tag.id %}" class="mx-1 badge rounded-pill bg-secondary">#{{ tag }} </a>
        <span><a href="{% url 'moderate:tags' %}" class="text-body text-decoration-none">Show latest tags</a></span>
    </div>
{% endblock page_header %}  

{% block content %}
    <div>
        {% for article in articles %}
            <div class="card mb-4 shadow-sm">
                <div class="card-body pe-5">
                    <a href="{% url 'moderate:article' article.id %}" class="text-body text-decoration-none">
                        <h2 class="card-title">{{ article.title }}</h2>
                        <p class="card-text mb-3">{{ article.text|truncatewords:60 }}</p>
                    </a>
                    <div style="display:flex">
                        <span class="small">{{ article.date|date:"j F Y" }}</span>
                        {% for tag in article.tags.all %}
                            <a href="{% url 'moderate:tag' tag.id %}" class="mx-1 badge rounded-pill bg-secondary">#{{ tag }} </a>
                        {% endfor %}
                    </div>
                    <p class="small mt-2 mb-1">author: <strong>{{ article.author }}</strong></p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if page_obj.has_previous or page_obj.has_next %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% url 'moderate:tag' tag.id %}?page={{ page_obj.previous_page_number }}" class="page-link text-body">Previous</a>
                </li>
                {% endif %}
                <li class="page-item disabled"> 
                    <a href="#" class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="{% url 'moderate:tag' tag.id %}?page={{ page_obj.next_page_number }}" class="page-link text-body">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock content %}