{% extends "moderate/base.html" %}

{% block page_header %} 
    <span>Tag:</span> <a href="{% url 'moderate:tag' tag.id %}" class="mx-1 badge rounded-pill bg-secondary">#{{ tag }} </a>
{% endblock page_header %}  

{% block content %}
    <div>
        {% for article in articles %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="card-text">{{ article.text|truncatewords:60 }}</p>
                    <div style="display:flex">
                        <span class="small">{{ article.date|date:"j F Y" }}</span>
                        {% for tag in article.tags.all %}
                            <a href="{% url 'moderate:tag' tag.id %}" class="mx-1 badge rounded-pill bg-secondary">#{{ tag }} </a>
                        {% endfor %}
                    </div>
                    <p>author: {{ article.author }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

       
    {% include 'moderate\paginate.html' %}
{% endblock content %}