{% extends "moderate/base.html" %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h2 class="mb-3">Log in</h2>    
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button name="submit" class="btn btn-secondary">Log in</button>
            <input type="hidden" name="next" value="{% url 'moderate:index' %}">
        </form>
    </div>
</div>
{% endblock content %}